body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 5px;
}

.mult {
    font-size: 0.9em;
    color: #555;
}

.stake-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    max-width: 400px;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 180px;
}

.form-group label {
    margin-bottom: 5px;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.pending-bets, .last-bets {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet-update-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.radio-group {
    display: flex;
    gap: 5px;
}

.last-bets ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.yes-result {
    font-weight: bold;
    color: green;
}

.no-result {
    font-weight: bold;
    color: red;
}

.header-info {
    display: flex;
    justify-content: space-between;
    min-width: 360px;
    width: 50%;
}

.day-separator {
    height: 2px;
    background-color: #333;
    padding: 0;
    list-style-type: none;
}

.edit-icon {
    display: inline-flex;
    align-items: center;
    color: #666;
    margin-left: 4px;
}

.edit-icon:hover {
    color: #333;
}



